<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <title>404</title>
</head>
<body>

    <!-- 导航 -->
    <nav th:replace="_fragments :: menu(1)">
    </nav>

    <br>
    <br>
    <br>

    <div class="m-container-small m-padded-tb-massive">
        <div class="ui error message m-padded-tb-large">
            <div class="ui container">
                <h2>404</h2>
                <p>Sorry！您访问的资源不存在</p>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <!-- footer -->
    <footer th:replace="_fragments :: footer">
    </footer>

    <th:block th:replace="_fragments :: script">
    </th:block>

</body>
</html>